%ul.posts-stream
  =render :partial => "list", :locals => { :collection => [resource] }

.clear

#page_nav
  = link_to tt(".arrow_previous"), previous_post_path(resource), :class => "left" if resource.previous
  = link_to tt(".arrow_next"), next_post_path(resource), :class => "right" if resource.next

.clear

#disqus_thread
:javascript
  var disqus_shortname = 'testatreides';
  var disqus_developer = 1;
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
%noscript Please enable JavaScript to view the #{link_to 'http://disqus.com/?ref_noscript', 'comments powered by Disqus.' }
= link_to 'http://disqus.com', :class => 'dsq-brlink' do
  blog comments powered by <span class="logo-disqus">Disqus</span>
