- data       = @report[:results]
- dimensions = @report[:dimensions]
- metrics    = @report[:metrics]
- range      = (@report[:start_date].to_date .. @report[:end_date].to_date).to_a
/ Atreides::Order visitors by date
%tbody{:units => 'visit'}
  - range.each do |date|
    - point = data.points[range.index(date)]
    - next unless point
    %tr
      %td= point.dimensions.map{|m| m.values }.flatten.join(' ')
      %td= point.metrics.map{|m| m.values }.flatten.join(' ')