= f.buttons do
  = f.commit_button ttt(:save), 'data-disable-with' => "Saving"
  %li.commit
    / = link_to_preview
  %li.cancel
    = link_to ttt(:cancel), admin_posts_path, :class => "cancel"
  %li.delete
    - unless resource.new_record?
      = link_to ttt(:delete), admin_post_path(resource), :class => "cancel", :confirm => "Are you absolutely sure?", :method => "delete" unless params[:action]=="new"
