<!DOCTYPE html>
<html>
<head>
  <title>Atreides</title>
  <%= stylesheet_link_tag    "atreides/application", :media => "all" %>
  <%= javascript_include_tag "atreides/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
