- content_for :sidebar do
  %ul.summary
    %li
      %h3{:style => "color: white"} Issue Status Filter
    %li
      %a{:href => admin_github_path(:state => "open")} Open Issues
    %li
      %a{:href => admin_github_path(:state => "closed")} Closed Issues
= render :partial => "terryblr/admin/content_nav"

%table.white-bg
  %thead
    %tr
      %th #
      %th Issue
      %th Labels
  %tbody
    - @issues.each do |issue|
      - issue = Hashie::Mash.new(issue)
      - labels = issue.labels.map{|l| l.name }
      %tr
        %td
          %a{:href => admin_github_issue_path(:id => issue.number)}= issue.number
        %td
          %a{:href => admin_github_issue_path(:id => issue.number)}= issue.title
        %td= labels.join(", ")
